.nav-items{
  display:flex;
  justify-content: space-around;
}

.Hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f9f9f9;
  padding: 50px;
}

.hero_text {
  max-width: 500px;
}
 
.hero_image {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 0;
  max-height: 400px;
 min-width: 400px;
 overflow:hidden;
}





.hero_heading {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 20px;
}

.hero_subheading {
  font-size: 1.5rem;
  margin-bottom: 30px;
}

.hero_paragraph {
  font-size: 1rem;
  line-height: 1.5;
  margin-bottom: 50px;
}



.hero_button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.3s ease;
}

.hero-button:hover {
  background-color: #0056b3;
}



